.cards {
  display: grid;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
  scale: 0.8;
  animation: reveal ease 300ms forwards;
  animation-timeline: view();
  animation-range: 10% 50%;
}

.cards .cards-wrapper {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 1rem;

  flex-wrap: wrap;
}

.cards .show-more-button {
  padding: 0.75rem 0.5rem;
  background: var(--primary-red);
  color: white;
  width: max-content;
}
@media screen and (width < 700px) {
  .cards .cards-wrapper {
    flex-direction: column;
  }
  .cards {
    animation: none;
    opacity: 1;
    scale: 1;
  }
}
